In [16]:
import pandas as pd

In [22]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [17]:
satisfaction = pd.read_csv("C:/Users/Latha/Downloads/Testing_Of_Hypothesis.csv")

In [18]:
satisfaction.head()

   Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83
2      3    S79537             74        A79538           88
3      4   S769168             74       A769222           80
4      5   S609791             83       A609801           74

In [19]:
#satisfaction['Samsung Score'] = satisfaction['Samsung_Score']

satisfaction = satisfaction.rename({'Samsung Score': 'Samsung_Score'}, axis=1)

In [6]:
satisfaction.loc[satisfaction['Samsung Score']].mean()

C:\Users\Latha\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

Sr No            83.235294
Samsung Score    83.988235
Apple_Score      87.470588
dtype: float64

In [23]:
stats.ttest_1samp(a= satisfaction.Samsung_Score,               # Sample data
                 popmean= 75)

Ttest_1sampResult(statistic=8.358287450922418, pvalue=4.0739777034636007e-13)

In [24]:
satisfaction.Samsung_Score.mean()

84.9

### Two sample T-Test (Independent)

In [27]:
sam_sco = satisfaction.Samsung_Score
sam_sco

0      94
1      99
2      74
3      74
4      83
5      87
6      89
7      83
8      75
9      74
10     80
11     86
12     87
13     89
14     99
15     88
16     78
17     97
18    100
19     98
20    100
21     81
22     69
23     69
24    100
25     96
26     73
27     84
28     67
29     98
     ...
70     91
71     63
72    100
73     85
74     76
75     90
76    100
77     97
78     72
79    100
80     58
81    100
82     78
83     83
84     69
85     92
86     70
87     77
88     94
89     75
90     84
91     88
92     63
93     91
94     73
95     77
96     85
97     83
98     82
99    100
Name: Samsung_Score, Length: 100, dtype: int64

In [26]:
app_sco = satisfaction.Apple_Score

In [30]:
print(sam_sco.mean())

84.9

In [31]:
print(app_sco.mean())

87.81

In [28]:
print(sam_sco.std())

11.84453161982057

In [29]:
print(app_sco.std())

9.628131131788196

In [32]:
stats.ttest_ind(a= sam_sco,
                b= app_sco,
                equal_var=False)

Ttest_indResult(statistic=-1.9064295935043474, pvalue=0.05810311766331876)

In [33]:
stats.ttest_ind(a= sam_sco,
                b= app_sco,
                equal_var=True)

Ttest_indResult(statistic=-1.9064295935043472, pvalue=0.058042614444118075)

In [35]:
stats.f_oneway(sam_sco,app_sco)

F_onewayResult(statistic=3.6344737949891592, pvalue=0.05804261444411817)

Null Hypothesis is True